body {
    background-color: lightblue;
  }

.col {
    padding:20px 20px;
  }
.row {
    padding:20px 10px;
    margin:10px;
    justify-content: center;
}
.container {
  position:relative;
}
.baton {
   font-size: 40px;
   margin: 30px;
   padding:50px;
   align-items: center;
   color:white;
   border:solid black;
   position: flex;
 
}
#shuffleButton,#restartButton {
  font-size: 50px;
  margin: 40px;
  padding:60px;
}
#Message4player {
  color:white;
  font: bold;
}